.contact{
    width: 100%;
    height: 80vh;
    background-image: url(./wallpaperflare.com_wallpaper\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}